<!DOCTYPE html>
<html>
<body>

<title>First Template</title>

<h1>My Name is sai</h1>

<p>This is some text to display</p>

{% block content %}

{% for i in post %}
<b>Title: {{i.title}}</b><br>
<b>Description:</b>{{i.description}}<br>
<img src = "{{i.image.url}}"><br>
<video width="320" height="240" controls>
  <source src = "{{i.video.url}}" type="video/mp4">
</video><br>
<b>Author: </b>{{i.author}}<br>
<b>Created at: </b>{{i.created_at}}<br>
<br>

{% endfor %}

{% endblock content %}

</body>
</html>